<h1>Hey, this is the try page!</h1>

<p>You guessed: <%= @guess %></p>

<p><%= @result %></p>

<p>You have made <%= pluralize @counter, "try" %>.</p>

<p style="color: #ccc;">The secret is <%= @secret %></p>
